<div class="row">
    <div class="small-10 small-offset-1 large-8 large-offset-2 columns">
        <!-- Logo Display -->
        <div class="row">
            <div class="small-12 medium-10 medium-offset-1 columns">
                <img src="../images/df_popcorn.png" width="100%" >
            </div>
        </div>

        <div class="row">
            <div class="small-12 medium-10 medium-offset-1">
                <form name="login-form" data-ng-submit="login(creds)">
                    <div class="email-field">
                        <input type="email" id="email" name="email" placeholder="Enter Email"
                               data-ng-model="creds.email" required>
                    </div>
                    <div class="password-field">
                        <input type="password" id="password" name="password" placeholder="Enter Password"
                               data-ng-model="creds.password" required>
                    </div>
                    <!-- <input type="submit" value="submit"> -->
                    <input class="button expand" id="submit-login" type="submit" value="Login">
                </form>
            </div>
        </div>
    </div>
</div>